<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Espace Client | Virtual Bank</title>
    <link rel="stylesheet" href="../../Static/css/style.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="../../Static/materialize/css/materialize.min.css"
    />
    <script src="../../Static/materialize/js/materialize.min.js"></script>
    <script src="../../Static/materialize/js/jquery-3.5.1.js"></script>
  </head>
  <body>
    <div>
      <nav class="light-blue darken-4 sze">
        <div class="nav-wrapper ps-nav">
          <a href="index.html" class="brand-logo ps-titles">Virtual Bank</a>
          <a href="#" class="sidenav-trigger" data-target="mobile-menu"
            ><i class="material-icons">menu</i></a
          >
          <ul class="right hide-on-med-and-down">
            <li>
              <a href="index.html" class="waves-effect waves-blue sz"
                >Liste des Clients</a
              >
            </li>
            <li>
              <a href="notification.html" class="waves-effect waves-blue sz"
                >Notifications par Client</a
              >
            </li>
            <li class="active">
              <a href="depot.html" class="waves-effect waves-blue sz"
                >Dépôt d'argent</a
              >
            </li>
            <li>
              <a href="ajout.html" class="waves-effect waves-blue sz"
                >Ajout de Client</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <ul class="sidenav" id="mobile-menu">
      <li>
        <div class="user-view">
          <h3>Virtual Bank</h3>
        </div>
      </li>
      <li><div class="divider"></div></li>
      <li><a class="subheader">Menu</a></li>
      <li>
        <a href="index.html" class="waves-effect waves-blue sz"
          >Liste des Clients</a
        >
      </li>
      <li>
        <a href="notification.html" class="waves-effect waves-blue sz"
          >Notifications par Client</a
        >
      </li>
      <li class="active">
        <a href="depot.html" class="waves-effect waves-blue sz"
          >Dépôt d'argent</a
        >
      </li>
      <li>
        <a href="ajout.html" class="waves-effect waves-blue sz"
          >Ajout de Client</a
        >
      </li>
    </ul>
    <div class="center-align">
      <h1>Bordereau de Versement</h1>
    </div>
    <div class="divider"></div>
    <p class="center mx1">
      <label>
        <input
          class="with-gap light-blue darken-4"
          name="group1"
          type="radio"
          id="depot"
          onclick="cacher()"
        />
        <span>Depôt sur un Compte</span>
      </label>
      <label>
        <input
          class="with-gap light-blue darken-4"
          name="group1"
          type="radio"
          id="transact"
          onclick="cacher0()"
        />
        <span>Transfert Compte à Compte</span>
      </label>
    </p>
    <div class="container">
      <div class="row">
        <div class="col xl1 l1 m1"></div>
        <div class="col xl10 l10 m10 s12">
          <div class="row">
            <form action="#" method="post" id="dep1" style="display: none" class="center-align">
              <div class="input-field col xl6 l6 m6 s12">
                <input id="last_name" type="text" class="validate" />
                <label for="last_name">Nom</label>
              </div>
              <div class="input-field col xl6 l6 m6 s12">
                <input id="last_name" type="text" class="validate" />
                <label for="last_name">Prénom</label>
              </div>
              <div class="input-field col s12">
                <input
                  id="last_name"
                  type="number"
                  class="validate"
                  placeholder="xxxxx xxxxx xxxxx xxxxx xxxxx"
                />
                <label for="last_name">Numéro du Compte Reçevant</label>
              </div>
              <div class="input-field col l6 s12">
                <input
                  type="text"
                  class="datepicker"
                  placeholder="Date de dépôt"
                />
              </div>
              <div class="input-field col l6 s12">
                <select>
                  <option value="" disabled selected>
                    Selectionnez une option
                  </option>
                  <option value="1">Option 1</option>
                </select>
                <label>Domiciliation du compte</label>
              </div>
              <div class="input-field col s12">
                <input
                  id="last_name"
                  type="number"
                  class="validate"
                  placeholder="xxxxx xxxxx xxxxx xxxxx xxxxx"
                />
                <label for="last_name">Montant à Déposer</label>
              </div>
              <br />
              <button type="submit" class="btn light-blue darken-4" name="submit">
                Normaliser
              </button>
            </form>
            <form action="#" method="post" id="dep2" style="display: none" class="center-align">
              <div class="input-field col xl6 l6 m6 s12">
                <input id="nom" type="text" class="validate" />
                <label for="nom">Nom</label>
              </div>
              <div class="input-field col xl6 l6 m6 s12">
                <input id="prenom" type="text" class="validate" />
                <label for="prenom">Prénom</label>
              </div>
              <div class="input-field col s12">
                <input
                  id="numero"
                  type="number"
                  class="validate"
                  placeholder="xxxxx xxxxx xxxxx xxxxx xxxxx"
                />
                <label for="numero">Numéro du Compte à Débiter</label>
              </div>
              <div class="input-field col s12">
                <input
                  id="recevant"
                  type="number"
                  class="validate"
                  placeholder="xxxxx xxxxx xxxxx xxxxx xxxxx"
                />
                <label for="recevant">Numéro du Compte Reçevant</label>
              </div>
              <div class="input-field col l6 s12">
                <input
                  type="text"
                  class="datepicker"
                  placeholder="Date de dépôt"
                />
              </div>
              <div class="input-field col l6 s12">
                <select name="domicile">
                  <option value="" disabled selected>
                    Selectionnez une option
                  </option>
                  <option value="1">Option 1</option>
                </select>
                <label>Domiciliation du compte à Débiter</label>
              </div>
              <div class="input-field col s12">
                <input
                  id="montant"
                  type="number"
                  class="validate"
                  placeholder="xxxxx xxxxx xxxxx xxxxx xxxxx"
                />
                <label for="montant">Montant à Débiter</label>
              </div>
              <br />
              <button type="submit" class="btn light-blue darken-4" name="submit">
                Normaliser
              </button>
            </form>
          </div>
        </div>
        <div class="col xl1 l1 m1"></div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      $(document).ready(function () {
        $(".sidenav").sidenav();
        $("select").formSelect();
        $(".datepicker").datepicker();
      });
      function cacher() {
        let licence1 = document.getElementById("dep1");
        let licence2 = document.getElementById("dep2");
        //
        let l1 = document.getElementById("depot");
        let l2 = document.getElementById("transact");

        //
        l1.onClick = licence1.style.display = "block";
        l2.onClick = licence2.style.display = "none";
      }

      function cacher0() {
        let licence2 = document.getElementById("dep2");
        let licence1 = document.getElementById("dep1");
        //
        let l1 = document.getElementById("depot");
        let l2 = document.getElementById("transact");
        //

        l1.onClick = licence1.style.display = "none";
        l2.onClick = licence2.style.display = "block";
      }
    </script>
  </body>
</html>
