<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Espace Client | Virtual Bank</title>
    <link rel="stylesheet" href="../../Static/css/style.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="../../Static/materialize/css/materialize.min.css"
    />
    <script src="../../Static/materialize/js/materialize.min.js"></script>
    <script src="../../Static/materialize/js/jquery-3.5.1.js"></script>
  </head>
  <body>
    <div>
      <nav class="light-blue darken-4 sze">
        <div class="nav-wrapper ps-nav">
          <a href="index.html" class="brand-logo ps-titles">Virtual Bank</a>
          <a href="#" class="sidenav-trigger" data-target="mobile-menu"
            ><i class="material-icons">menu</i></a
          >
          <ul class="right hide-on-med-and-down">
            <li class="active">
              <a href="index.html" class="waves-effect waves-blue sz"
                >Liste des Clients</a
              >
            </li>
            <li>
              <a href="notification.html" class="waves-effect waves-blue sz"
                >Notifications par Client</a
              >
            </li>
            <li>
              <a href="depot.html" class="waves-effect waves-blue sz"
                >Dépôt d'argent</a
              >
            </li>
            <li>
              <a href="add/step1.html" class="waves-effect waves-blue sz"
                >Ajout de Client</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <ul class="sidenav" id="mobile-menu">
      <li>
        <div class="user-view">
          <h3>Virtual Bank</h3>
        </div>
      </li>
      <li><div class="divider"></div></li>
      <li><a class="subheader">Menu</a></li>
      <li class="active">
        <a href="index.html" class="waves-effect waves-blue sz"
          >Liste des Clients</a
        >
      </li>
      <li>
        <a href="notification.html" class="waves-effect waves-blue sz"
          >Notifications par Client</a
        >
      </li>
      <li>
        <a href="depot.html" class="waves-effect waves-blue sz"
          >Dépôt d'argent</a
        >
      </li>
      <li>
        <a href="add/step1.html" class="waves-effect waves-blue sz"
          >Ajout de Client</a
        >
      </li>
    </ul>
    <div class="center-align">
      <h1>Liste des Clients</h1>
    </div>
    <div class="divider"></div>
    <div class="row">
      <div class="col xl1 l1 "></div>
      <div class="col xl10 l10 m12 s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="idSearch" type="email" class="validate">
            <label for="idSearch">Rechercher</label>
          </div>
        </div>
        <div class="inline" id="clients">
          <div class="col card ps-petit hoverable">
            <div class="card-image">
              <img src="../../Static/images/clients/img_avatar.png" />
              <span class="card-title colors flow-text">ref</span>
              <a
                class="btn-floating halfway-fab waves-effect waves-light light-blue darken-4"
                ><i class="material-icons">add</i></a
              >
            </div>
            <div class="card-content ps-pad">
              <h6>Plan jeunesse</h6>
              <p>Solde : 10 000 000 000 000 XOF</p>
            </div>
          </div>
          <div class="col card ps-petit hoverable">
            <div class="card-image">
              <img src="../../Static/images/clients/img_avatar.png" />
              <span class="card-title colors flow-text"> EVANE</span>
              <a
                class="btn-floating halfway-fab waves-effect waves-light light-blue darken-4"
                ><i class="material-icons">add</i></a
              >
            </div>
            <div class="card-content ps-pad">
              <h6>Plan jeunesse</h6>
              <p>Solde : 10 000 000 000 000 XOF</p>
            </div>
          </div>
          <div class="col card ps-petit hoverable">
            <div class="card-image">
              <img src="../../Static/images/clients/img_avatar.png" />
              <h5 class="card-title colors flow-text"> GEOFFROY </h5>
              <a
                class="btn-floating halfway-fab waves-effect waves-light light-blue darken-4"
                ><i class="material-icons">add</i></a
              >
            </div>
            <div class="card-content ps-pad">
              <h6>Plan jeunesse</h6>
              <p>Solde : 10 000 000 000 000 XOF</p>
            </div>
          </div>
          <div class="col card ps-petit hoverable">
            <div class="card-image">
              <img src="../../Static/images/clients/img_avatar.png" />
              <span class="card-title colors flow-text">SOUMAILA </span>
              <a
                class="btn-floating halfway-fab waves-effect waves-light light-blue darken-4"
                ><i class="material-icons">add</i></a
              >
            </div>
            <div class="col card-content ps-pad">
              <h6>Plan jeunesse</h6>
              <p>Solde : 10 000 000 000 000 XOF</p>
            </div>
          </div>
        </div>
        <div class="col xl1 l1"></div>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script>
        $(document).ready(function () {
          $(".sidenav").sidenav();
        });
      </script>
      <script>
        $(document).ready(function(){
           $("#idSearch").on("keyup", function() {
              var value = $(this).val().toLowerCase();
              $("#clients .col").filter(function() {
                 $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
              });
           });
        });
     </script>
    </div>
  </body>
</html>
