<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Espace Client | Virtual Bank</title>
    <link rel="stylesheet" href="../../Static/css/style.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="../../Static/materialize/css/materialize.min.css"
    />
    <script src="../../Static/materialize/js/materialize.min.js"></script>
    <script src="../../Static/materialize/js/jquery-3.5.1.js"></script>
  </head>
  <body>
    <div>
      <nav class="light-blue darken-4 sze">
        <div class="nav-wrapper ps-nav">
          <a href="index.html" class="brand-logo ps-titles">Virtual Bank</a>
          <a href="#" class="sidenav-trigger" data-target="mobile-menu"
            ><i class="material-icons">menu</i></a
          >
          <ul class="right hide-on-med-and-down">
            <li>
              <a href="index.html" class="waves-effect waves-blue sz"
                >Liste des Clients</a
              >
            </li>
            <li class="active">
              <a href="notification.html" class="waves-effect waves-blue sz"
                >Notifications par Client</a
              >
            </li>
            <li>
              <a href="depot.html" class="waves-effect waves-blue sz"
                >Dépôt d'argent</a
              >
            </li>
            <li>
              <a href="add/step1.html" class="waves-effect waves-blue sz"
                >Ajout de Client</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <ul class="sidenav" id="mobile-menu">
      <li>
        <div class="user-view">
          <h3>Virtual Bank</h3>
        </div>
      </li>
      <li><div class="divider"></div></li>
      <li><a class="subheader">Menu</a></li>
      <li>
        <a href="index.html" class="waves-effect waves-blue sz"
          >Liste des Clients</a
        >
      </li>
      <li class="active">
        <a href="notification.html" class="waves-effect waves-blue sz"
          >Notifications par Client</a
        >
      </li>
      <li>
        <a href="depot.html" class="waves-effect waves-blue sz"
          >Dépôt d'argent</a
        >
      </li>
      <li>
        <a href="add/step1.html" class="waves-effect waves-blue sz"
          >Ajout de Client</a
        >
      </li>
    </ul>
    <div class="center-align">
      <h1>Envoie de notification</h1>
    </div>
    <div class="divider"></div>
    <div class="container">
      <div class="row">
        <div class="col xl1 l1 m1"></div>
        <div class="col xl10 l10 m10 s12">
          <div class="row">
            <div class="input-field col s12">
              <input id="idSearch" type="email" class="validate" />
              <label for="idSearch">Rechercher</label>
            </div>
          </div>
          <ul class="collapsible" id="clients">
            <li class="pop">
              <div class="collapsible-header">
                <p class="colors">EVANE</p>
                <span class="new badge light-blue darken-4">1</span>
              </div>
              <div class="collapsible-body">
                <p>
                  Vous avez éffectuer un retrait de 10.000 fcfa <br />
                  Solde restant : 40000 fcfa
                </p>
                <br />
                <a href="#!" class="btn">Envoyer</a>
              </div>
            </li>
            <li class="pop">
              <div class="collapsible-header">
                <p class="colors">GEOFFROY</p>
                <span class="new badge light-blue darken-4">1</span>
              </div>
              <div class="collapsible-body">
                <p>
                  Vous avez éffectuer un retrait de 10.000 fcfa <br />
                  Solde restant : 40000 fcfa
                </p>
                <br />
                <a href="#!" class="btn">Envoyer</a>
              </div>
            </li>
            <li class="pop">
              <div class="collapsible-header">
                <p class="colors">SOUMAILA</p>
                <span class="new badge light-blue darken-4">0</span>
              </div>
              <div class="collapsible-body"></div>
            </li>
          </ul>
        </div>
        <div class="col xl1 l1 m1"></div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      $(document).ready(function () {
        $(".sidenav").sidenav();
        $(".collapsible").collapsible();
      });
    </script>
    <script>
      $(document).ready(function () {
        $("#idSearch").on("keyup", function () {
          var value = $(this).val().toLowerCase();
          $("#clients .pop").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
          });
        });
      });
    </script>
  </body>
</html>
