<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Acceuil | Virtual Bank</title>
    <link rel="stylesheet" href="../Static/css/style.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="../Static/materialize/css/materialize.min.css"
    />
    <script src="../Static/materialize/js/materialize.min.js"></script>
    <script src="../Static/materialize/js/jquery-3.5.1.js"></script>
  </head>
  <body>
    <nav class="white">
      <div class="nav-wrapper ps-nav">
        <a href="#" class="brand-logo ps-titles">Virtual Bank</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"
          ><i class="material-icons ps-title">menu</i></a
        >
        <ul class="right hide-on-med-and-down">
          <li>
            <a
              href="../index.html"
              class="waves-effect waves-light btn light-blue darken-4"
              >Authentification</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
      <li>
        <div class="user-view">
          <h3>Virtual Bank</h3>
        </div>
      </li>
      <li><div class="divider"></div></li>
      <li><a class="subheader">Retour</a></li>
      <li>
        <a
          href="../index.html"
          class="waves-effect waves-light btn light-blue darken-4"
          >Retour</a
        >
      </li>
    </ul>
    <div class="container ps-marge">
      <div class="row">
        <div class="col l1 m2"></div>
        <div class="col l10 m8 s12">
          <div class="row ps-heigth ps-form hoverables">
            <div class="col xl6 ps-back">
              <img src="../Static/images/res/img-1.png" height="100%" width="100%">
            </div>
            <div class="col xl6 l12 m12 s12 center-align">
              <div class="container">
                <p class="ps-centre">Authentification</p>
                <br />
                  <form action="#" method="post" class=" centered">
                    <div class="input-field">
                      <input id="text" type="text" class="validate" />
                      <label for="text">Identifiant</label>
                      <span
                        class="helper-text"
                        data-error="wrong"
                        ></span
                      >
                    </div>
                    <div class="input-field">
                      <input id="password" type="password" class="validate" />
                      <label for="password">Mot de Passe</label>
                      <span
                        class="helper-text"
                        data-error="wrong"
                        ></span
                      >
                    </div>
                    <button type="submit" name="submit" class="btn blue darken-4">Se Connecter</button>
                  </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col l1 m2"></div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      $(document).ready(function () {
        $(".sidenav").sidenav();
      });
    </script>
  </body>
</html>
