<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Espace Client | Virtual Bank</title>
    <link rel="stylesheet" href="../../Static/css/style.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="../../Static/materialize/css/materialize.min.css "
    />
    <script src="../../Static/materialize/js/materialize.min.js"></script>
    <script src="../../Static/materialize/js/jquery-3.5.1.js"></script>
  </head>
  <body>
    <div>
      <nav class="light-blue darken-4 sze">
        <div class="nav-wrapper ps-nav">
          <a href="index.html" class="brand-logo ps-titles">Virtual Bank</a>
          <a href="#" class="sidenav-trigger" data-target="mobile-menu"
            ><i class="material-icons">menu</i></a
          >
          <ul class="right hide-on-med-and-down">
            <li class="active">
              <a href="index.html" class="waves-effect waves-blue sz">Compte</a>
            </li>
            <li>
              <a href="historique.html" class="waves-effect waves-blue sz"
                >Historique</a
              >
            </li>
            <li>
              <a href="transaction.html" class="waves-effect waves-blue sz"
                >Transaction</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <ul class="sidenav" id="mobile-menu">
      <li>
        <div class="user-view">
          <h3>Virtual Bank</h3>
        </div>
      </li>
      <li><div class="divider"></div></li>
      <li><a class="subheader">Menu</a></li>
      <li class="active">
        <a href="index.html" class="waves-effect waves-blue sz">Compte</a>
      </li>
      <li>
        <a href="historique.html" class="waves-effect waves-blue sz"
          >Historique</a
        >
      </li>
      <li>
        <a href="transaction.html" class="waves-effect waves-blue sz"
          >Transaction</a
        >
      </li>
    </ul>
    <div class="row ps-profile">
      <div class="col l2 m1 cyan lighten-5"></div>
      <div class="col white l8 m10 s12">
        <div class="row">
          <div class="col s12 center-align">
            <img
              src="../../Static/images/clients/img_avatar.png"
              alt="Photo du client"
              class="img-profile"
            />
          </div>
        </div>
        <div class="row">
          <h5>Information Personnel</h5>
          <div class="divider m1"></div>
          <div class="col l2 m2"></div>
          <div class="col s12 m8 center-align">
            <p>
              <span class="ps-info">Nom :</span><br />
              <span class="ps-info">Prénom :</span><br />
              <span class="ps-info">Date de Naissance :</span><br />
              <span class="ps-info">Adresse Postal :</span><br />
            </p>
          </div>
          <div class="col l2 m2"></div>
        </div>
        <div class="row">
          <h5>Relevé d'indentité Bancaire</h5>
          <div class="divider m1"></div>
          <div class="col l12 m12 s12">
            <div class="center-align">
              <p>
                <span class="ps-info">Solde :</span><br />
                <span class="titre">Information Carte Bancaire</span><br />
              </p>
              <table class="centered ps-marge">
                <thead class="light-blue darken-4">
                  <tr>
                    <th>CVV</th>
                    <th>Code Personnel</th>
                    <th>Numéro de Compte</th>
                    <th>Numero de carte Bancaire</th>
                    <th>Domiciliation</th>
                  </tr>
                </thead>
                <tbody class="#e3f2fd blue lighten-5">
                  <tr>
                    <td>454</td>
                    <td>0212</td>
                    <td>062275202401</td>
                    <td>0622 7520 2401 7520</td>
                    <td>Treichville Marché</td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col l2 m1 cyan lighten-5"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      $(document).ready(function () {
        $(".sidenav").sidenav();
      });
    </script>
    <footer class="page page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Virtual Bank</h5>
            <p class="grey-text text-lighten-4">
              Virtual Bank est une banque virtuelle qui basé en Côte d'Ivoire
              utilise les carte Visa et Mastercard afin de permettre a ses
              client la facilité d'éffectuer des achats en ligne et des
              transfert d'agent de client à client.
            </p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">CONTACTEZ-NOUS</h5>
            <div class="row">
              <form action="#" method="post" class="center-align">
                <div class="input-field ps-field col s12">
                  <input id="email" type="email" class="validate ps-field white-text">
                  <label for="email" class="white-text">Email</label>
                </div>
                <div class="input-field ps-field col s12">
                  <textarea id="textarea1" class="materialize-textarea ps-field white-text"></textarea>
                  <label for="textarea1">Message</label>
                </div>
                <button type="submit" class="btn light-blue darken-4" name="contact">Envoyez</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          <p>
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            All rights reserved
          </p>
          <a class="grey-text text-lighten-4 right" href="#!"
            >Termes et Conditions</a
          >
        </div>
      </div>
    </footer>
  </body>
</html>
