* {
  margin: 0;
  padding: 0;
}

body{
  background-color: #f5fcff;
}

.ps-titles {
  font-weight: 700;
  color: black !important;
}

.ps-titles:hover {
  color: white !important;
}

input[name="code"] {
  border: transparent;
  border-bottom: 1px solid #01579b !important;
  margin: 0.5rem !important;
  border-radius: 0.3rem !important;
}

input[name="carte"] {
  border: transparent;
  border-bottom: 1px solid #01579b !important;
  margin: 0.5rem !important;
  border-radius: 0.3rem !important;
}

input[name="montant"] {
  border: transparent;
  border-bottom: 1px solid #01579b !important;
  margin: 0.5rem !important;
  border-radius: 0.3rem !important;
}

input[name="cvv"] {
  border: transparent;
  border-bottom: 1px solid #01579b !important;
  margin: 0.5rem !important;
  border-radius: 0.3rem !important;
}

input[name="code"]:focus {
  border-bottom: 3px solid #01579b !important;
}

input[name="cvv"]:focus {
  border-bottom: 3px solid #01579b !important;
}

input[name="carte"]:focus {
  border-bottom: 3px solid #01579b !important;
}

input[name="montant"]:focus {
  border-bottom: 3px solid #01579b !important;
}

.button {
  position: relative;
  display: inline-block;
  margin: 20px !important;
}

.button {
  color: white !important;
  font-weight: bold !important;
  text-align: center !important;
  background-color: #0079df !important;
  padding: 0.5rem;
  width: 10rem;
  border: transparent !important;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);

  -webkit-box-shadow: inset 0 1px 0, 0 10px 0 #072e4e !important;
  -moz-box-shadow: inset 0 1px 0, 0 10px 0 #072e4e !important;
  box-shadow: inset 0 1px 0, 0 10px 0 #072e4e !important;

  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
}

.button:active {
  top: 10px;
  background-color: #0079df !important;

  -webkit-box-shadow: inset 0 1px 0, inset 0 -3px 0 #072e4e !important;
  -moz-box-shadow: inset 0 1px 0, inset 0 -3pxpx 0 #072e4e !important;
  box-shadow: inset 0 1px 0, inset 0 -3px 0 #072e4e !important;
}

.form-title {
  border-radius: 12px 12px 0 0;
  padding: 1rem;
  margin-top: 2rem;
}

.buttons {
  font-weight: 800 !important;
  padding: 0.6rem !important;
}

nav {
  height: 7rem !important;
  padding: 1rem;
}

.sze {
  height: 6rem !important;
}

.sz {
  font-size: 1.1em !important;
  font-weight: 600;
}

.img-profile {
  height: 15rem;
  width: 15rem;
  border-radius: 100%;
  margin: 1rem;
}

.ps-info {
  font-size: 1.1em;
  font-weight: 500;
  margin-top: 1.5rem !important;
}

.m1 {
  margin-bottom: 1rem;
}

table,
th,
tr,
td,
thead {
  border-collapse: collapse !important;
}

.titre {
  font-style: italic;
  font-size: small;
  color: #9e9e9e;
}

.mx1 {
  margin: 1rem !important;
}

.blues {
  color: #0079df !important;
}

.my {
  width: 100% !important;
}

.ps-centre {
  font-size: xx-large;
  font-weight: 800;
}

.ps-form {
  padding: 1rem !important;
}

.ps-marge {
  margin-top: 2rem !important;
}

.hoverables {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Média query */
@media (max-width: 350px) {
  .mx1 {
    font-size: 1em !important;
  }

  input[name="check"] {
    font-size: 0.7em !important;
  }
}

@media (max-width: 400px) {
  .ps-titles {
    font-weight: 700;
    font-size: 1.2em !important;
    color: black !important;
  }
}

@media (max-width: 600px) {
  th {
    font-size: 0.8em !important;
  }

  .ps-back {
    display: none;
  }
}

@media (max-width: 1200px) {
  .ps-back {
    display: none;
  }
}
